
// some defaults

/*
    the black, black-transparent combination should be used for 
    text that implies interaction (you can click on it). in this
    case use $default-black-transparent as a default color, and the
    $default-black as hovering
*/
$default-black: rgb(33,33,33);
$default-black-transparent: rgba(33,33,33,0.75);


// for items surroundings [like bootstrap pre]
$default-gray-border: #ccc;
$default-gray-background: #e8e8e8;