@import "app-base";

html,
body {
    @extend .default-font;
    
	margin:0;
	padding:0;
	height:100%;
    -webkit-overflow-scrolling: touch;
    background: #e6ebea;
    color:$default-black;
}
#wrapper {
	min-height:100%;
	position:relative;
}

$footerHeight: 100px;

#content {
	padding-bottom:$footerHeight;
}
#footer {
	width:100%;
	height:$footerHeight;
	position:absolute;
	bottom:0;
	left:0;
}
