@import "app-base";
@import "waiting-spinner";


html,
body {
    @extend .default-font;
    
	margin:0;
	padding:0;
	height:100%;
    -webkit-overflow-scrolling: touch;
    background: #e6ebea;
    color:$default-black;
    
    .waiting {
        position:fixed;
        background: white;
        width:100%;
        top:0;
        bottom:0;
        z-index:5000;
    }
}

.btn {
    @extend .default-font;
}

