@import "app-base";
@import "waiting-spinner";

.home-page {
    .list-unstyled>li
    {
        padding:4px;
    }

    #btnGenerate {
        padding:3px 6px;
        margin-right:20px;    
            
        .spinner {
            display:none;
            margin:0 6px;
            
            >div {
                background-color:white;
                width: 12px;
                height: 12px;
            }
        }
        
        &.waiting {
            .spinner {
                display:block;
            }
            
            .create {
                display:none;
            }                
        }
    }

    #txtJobTicket
    {
        height:500px;
        width:100%;
    }
}