@import "app-base";
@import "waiting-spinner";

.playground-page {
    .btn.generate {
        padding:3px 6px;
        margin-right:20px;
            
        .spinner {
            margin:0 6px;
        }
    }
    
    .section {
        margin-bottom:20px;
    }
    
    .editor-controls {
        margin-bottom:10px;
    }

    .editor-split-screen
    {
        @extend .position-base;
        height:500px;
    }
    
    .tab-pane {
        margin: 20px auto;    
    }
    
    .section.examples {
        pre {
            white-space: pre-wrap;       
            white-space: -moz-pre-wrap; 
            white-space: -pre-wrap;
            white-space: -o-pre-wrap;
            word-wrap: break-word;
        }
    }
}