@import "app-base";
@import "waiting-spinner";

.playground-page {
    .btn.generate {
        padding:3px 6px;
        margin-right:20px;
            
        .spinner {
            margin:0 6px;
        }
    }
    
    .row {
        margin-bottom:10px;
    }

    .editor-split-screen
    {
        @extend .position-base;
        height:500px;
    }
}