<div class="container clearfix">
    <a ui-sref="home" class="site-title">
        <img src="../site-images/logo-transparent-120X120.gif"><h1>PDFHummus Services</h1>
    </a> 
    <ul class="list-unstyled list-inline header-tools">
        <li><a ui-sref="jobs"><button type="button">Jobs</button></a></li>
        <li><a ui-sref="userSettings"><button type="button">User Settings</button></a></li>
        <li><a ui-sref="documentation"><button type="button">Documentation</button></a></li>
    </ul>
    <div class="user-tools">
        <avatar username="user.name"></avatar>
    </div>   
</div>
