<div class="container clearfix">
    <a ui-sref="console.home" class="site-title">
        <img src="../site-images/logo-transparent-120X120.gif"><h1>PDFHummus Services</h1>
    </a> 
    <ul class="list-unstyled list-inline header-tools">
        <li><a ui-sref="console.jobs"><button type="button">Jobs</button></a></li>
        <li><a ui-sref="console.userSettings"><button type="button">User Settings</button></a></li>
        <li><a ui-sref="console.documentation"><button type="button">Documentation</button></a></li>
    </ul>
    <div class="user-tools">
            <avatar username="me.name"></avatar>
            <div class="dropdown">
                <div class="dropdown-toggle" data-toggle="dropdown">
                    <span class=" im-a-pretty-clickable caret"></span>
                </div>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li class="dropdown-header">Logged In As <strong>{{me.name}}</strong></li>
                    <li class="divider"></li>
                    <li><a href="#" ng-click="signOut()">Sign Out</a></li>
                </ul>
            </div>
        </li>        
    </div>   
</div>
