<div class="home-page">
    <div class="container">
        <div class="description">
            Welcome!
            This page demonstrates how to generate PDF files using the Hummus PDF Rendering Service.
            Just type below a PDF description object, and click "Create PDF".

            Useful links:
            <ul class="links list-unstyled">
                <li>
                    <a href="https://github.com/galkahana/hummusrenderrer/wiki">Service and PDF Descripition Object Documentation</a>
                </li>
                <li>
                    <a href="https://github.com/galkahana/hummusrenderrer/wiki">Github Project</a>
                </li>
                <li>
                    <a href="http://www.pdfhummus.com">Project Blog</a>
                </li>
            </ul>
        </div>
        <ul class="list-unstyled">
            <li>
                <button type="button" class="btn btn-primary" id="btnGenerate" ng-click="submitTicket()" ng-class="{'waiting':waitingForComplete}">
                    <div class="create">Create PDF</div>
                    <div class="spinner">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </button>
                <a target="_blank"  ng-show="!!downloadLink" class="pdf-download" ng-href={{downloadLink}}>Download</a>
            </li>
            <li>
                <textarea id="txtJobTicket" ng-model="ticket"></textarea>
            </li>
        </ul>
    </div>
</div>