<div class="home-page">
    <div class="container">
        <div>
            <h3>Find your way around</h3>
            <ul class="links list-unstyled">
                <li>
                    <a ui-sref="console.playground">Design new PDF Jobs</a>
                </li>
                <li>
                    <a ui-sref="console.jobs">Review your existing jobs</a>
                </li>
                <li>
                    <a ui-sref="console.user">Create API keys and review your account data</a>
                </li>
            </ul>
        </div>
        <div>
            <h3>Documentation</h3>
            <ul class="links list-unstyled">
                <li>
                    <a href="https://github.com/galkahana/hummusrenderrer/wiki" target="_blank">Service and PDF Descripition Object Documentation</a>
                </li>
                <li>
                    <a href="https://github.com/galkahana/hummusrenderrer/wiki" target="_blank">Github Project</a>
                </li>
                <li>
                    <a href="http://www.pdfhummus.com" target="_blank">Project Blog</a>
                </li>
            </ul>
        </div>
    </div>
</div>