<div class="home-page">
    <div class="container">
        <div class="description">
            Welcome!
            This page demonstrates how to generate PDF files using the Hummus PDF Rendering Service.
            Just type below a PDF description object, and click "Create PDF".

            Useful links:
            <ul class="links list-unstyled">
                <li>
                    <a href="https://github.com/galkahana/hummusrenderrer/wiki">Service and PDF Descripition Object Documentation</a>
                </li>
                <li>
                    <a href="https://github.com/galkahana/hummusrenderrer/wiki">Github Project</a>
                </li>
                <li>
                    <a href="http://www.pdfhummus.com">Project Blog</a>
                </li>
            </ul>
        </div>
        <ul class="list-unstyled">
            <li>
                <button type="button" class="btn btn-primary" id="btnGenerate" ng-click="submitTicket()">Create PDF</button>
            </li>
            <li>
                <textarea id="txtJobTicket" ng-model="ticket"></textarea>
            </li>
        </ul>
    </div>
</div>