<div class="item-container">
    <h4 class="item-title" ng-click="toggleOpenClose($event)">
        <div class="item-select" ng-click="toggleSelected($event)">
            <span ng-show="selected" class="glyphicon glyphicon-ok"></span>
        </div>
        <div class="title">{{ title() }}</div>
        <div class="status" ng-class="statusClass()"></div>
    </h4>
    <div ng-show="open" class="item-main">
        <div class="row">
            <div class="col-sm-2 item-label">Started:</div>
            <div class="col-sm-10">{{item.createdAt | date : defaultDateFilter()}}</div>
        </div>
        <div class="row">
            <div class="col-sm-2 item-label">Finished:</div>
            <div class="col-sm-10">{{finishedText()}}</div>
        </div>
        <div class="row" ng-if="item.label">
            <div class="col-sm-2 item-label">Job Name:</div>
            <div class="col-sm-10">{{item.label}}</div>
        </div>
        <div class="row">
            <div class="col-sm-2 item-label">Status:</div>
            <div class="col-sm-10 status" ng-class="statusClass()">{{statusText()}}</div>
        </div>
        <div class="row">
            <div class="col-sm-2 item-label">PDF File:</div>
            <div class="col-sm-10">
                <span ng-if="hasReadyFile()">
                    <a target="_blank" class="pdf-download" ng-href={{downloadURL()}}>Download</a>
                    <button type="button" ng-click="removeFile()" class="pdf-remove btn btn-danger" ng-class="{'waiting':waitingForDelete}">
                        <div class="delete"><span class="glyphicon glyphicon-remove"></span> Delete</div>
                        <div class="spinner">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </button>
                </span>
                <span ng-if="!hasReadyFile()">N/A</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 item-label">Job Ticket:</div>
            <div class="col-sm-10">
                <a class="im-a-pretty-clickable" ng-click="jobticketOpen = !jobticketOpen">Show 
                       <span class="glyphicon" ng-class="{'glyphicon-triangle-bottom':jobticketOpen,'glyphicon-triangle-right':!jobticketOpen}"></span>
                </a>
            </div>
        </div>
        <div class="row" ng-show="jobticketOpen">
            <div class="col-sm-offset-2 col-sm-10">
                <pre class="pre-scrollable">{{ item.ticket | prettyStringify }}</pre>
            </div>
        </div>
    </div>
</div>            
