<div class="public-base wrapper">
    <div class="header">
        <public-header></public-header>
    </div>
    <div class="content">
        <page-title></page-title>
        <div class="login-page">
            <div class="container">
                <div class="login-form">
                    <form ng-submit="login()">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" autocorrect="off" class="form-control" name="username" ng-model="credentials.username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password" ng-model="credentials.password">
                        </div>
                        <button type="submit" class="btn btn-primary">Log In</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <public-footer></public-footer>
    </div>
</div>
