<div class="playground-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <button type="button" class="btn btn-primary btn-spinner generate" ng-click="submitTicket()" ng-class="{'spinner-active':waitingForComplete}">
                    <div class="default">Preview PDF</div>
                    <div class="spinner">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </button>
                <a target="_blank"  ng-show="!!downloadLink" class="pdf-download" ng-href={{downloadLink}}>Download Preview</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="editor-split-screen">
                    <div ui-layout="{flow : 'column'}">
                            <div ui-layout-container>
                                <code-editor init="initTicket" code="ticket"></code-editor>
                            </div>
                            <div ui-layout-container>
                                <pdf-preview embed="embedLink" download="downloadLink"></pdf-preview>               
                            </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>