<div class="container clearfix">
    <a href="/" class="site-title">
        <img src="../site-images/logo-transparent-120X120.gif"><h1>PDFHummus Services</h1>
        <span class="nice-red-badge">Beta</span>
    </a> 
    <ul class="list-unstyled list-inline header-tools">
        <li><a href="/about"><button type="button">About</button></a></li>
        <li><a href="/contact"><button type="button">Contact Us</button></a></li>
        <li><a href="/login"><button type="button">Log In</button></a></li>
        <li>
            <a href="http://www.pdfhummus.com"
                target="_blank">
                <button type="button">Blog</button>
            </a>
        </li>
        <li><a href="/documentation"><button type="button">Documentation</button></a></li>
        <li>
            <a class="im-a-pretty-clickable"  
                href="http://www.facebook.com/pdfhummus"
                target="_blank" >
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</div>
