<div class="user-page">
    <div class="container">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#general" data-toggle="tab">General</a></li>
            <li><a href="#apiKeys" data-toggle="tab">API Keys</a></li>
            <li><a href="#plan" data-toggle="tab">Plan Usage</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="general">
                <general-panel></general-panel>
            </div>
            <div class="tab-pane" id="apiKeys">
                <api-keys-panel></api-keys-panel>
            </div>
            <div class="tab-pane" id="plan">
                <plan-panel></plan-panel>
            </div>
        </div>
    </div>
</div>